/*Menu Icon*/
.burger {
    position: relative;
    width: 20px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    display: block;
}
.burger input {
    display: none;
}
.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--text);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
}
.burger span:nth-of-type(1) {
    top: 0;
}
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.burger span:nth-of-type(3) {
    top: 100%;

    transform: translateY(-100%);
}
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
}
.burger input:checked ~ span:nth-of-type(2) {
    width: 0;
    opacity: 0;
}
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 14px;
}


/*darkmode Switch*/
.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
    --light: #d8dbe0;
    --dark: #28292c;
}
.switch-label {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--dark);
    border-radius: 10px;
    cursor: pointer;

}
.checkbox {
    position: absolute;
    display: none;
}
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.checkbox:checked ~ .slider {
    background-color: var(--light);
}
.slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-box-shadow: inset 4px -1px 0px 0px var(--light);
    box-shadow: inset 4px -1px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.checkbox:checked ~ .slider::before {
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}










/* From Uiverse.io by Yaya12085 */
.card {
    display: flex;
    gap: 10px;
    background: var(--bg);
    content: var(--text);
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 700px;
    box-shadow:
            5px 20px 25px -5px rgba(0, 0, 0, 0.1),
            5px 10px 10px -5px rgba(0, 0, 0, 0.04);
    z-index: 10000;
    padding: 10px 15px;
    border: 2px solid black;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.image svg {
    color: #dc2626;
    width: 1.5rem;
    height: 1.5rem;
}

.card h2, .card h3
{
    margin: 5px 0;
}






