main
{
    padding-top: 52px;
    display: grid;
    grid-template-rows: 350px 170px 1fr ;
    grid-template-columns: 2fr 1fr;
}

.map {
    grid-area: 1/1/2/3;
    height: 350px;
    /*width: 100%;*/
    background-image: url("/images/map-overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    z-index: 1;
    filter:saturate(150%);
}

.general-info {
    grid-area: 2/1/4/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {margin: 10px;}
.description h2{margin: 0 5px;}
.description button{margin-left: 20px;}
.description p {
    margin: 5px 5px;
    text-wrap: pretty;
    max-width: 500px;
}

.sensor-info{
    grid-area: 2/2/4/3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stat{
    width: calc(100vw * 1/3 - 20px);
    height: auto;
    margin-top: 10px;
}

.button{
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid black;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
}

.alert{
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8rem;
    margin: 15px 5px 5px 5px;
    background: #FEF7D1;
    border: 2px solid #F7C752;
    color: black;
}

.alert input{

    border-radius: 5px;
    border: 2px solid #F7C752;
}

.alert p{
    margin: 5px auto;
}

#pm25-input{
    margin-right: 5px;
    margin-bottom: 5px;
}

.threshold-inputs input{
    width: 100px;
}


.alert button{
    background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
    background: linear-gradient(to right, #f45c43, #eb3349);
    border: 2px solid #eb3349;
    color: white;
    font-weight: normal;
    float: right;
    margin-right: 10px;
}
.alert h2{
    margin: 0;
}


@media (max-width: 375px)
{
    .general-info
    {
        grid-area: 3/1/4/3
    }
    .description{
        margin-top: 0;
    }

    .sensor-info
    {
        grid-area: 2/1/3/3;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stat{
        margin: 0;
    }

}

@media (min-width: 768px)
{
    main {
        grid-template-rows: 55vh 40vh;
        grid-template-columns: 30% 70%;
        margin-right: 30px;
    }
    .map{
        grid-area: 1/2/2/3;
        height: 55vh;
        transform: translateY(20px);
        border-radius: 20px;
        margin: 10px;
    }
    .general-info {
        grid-area: 2/2/3/3;
        flex-direction: row;
        align-items: start;
        margin-top: 30px;
    }
    .general-info .chart{
        visibility: hidden;
        width: 0;
    }

    .sensor-info{
        grid-area: 1/1/3/2;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .stat{
        width: calc(50% - 40px);
        margin-top: 30px;
    }
}