main{
    padding-top: 52px;
    display: grid;
    grid-template-rows: 350px 170px 1fr ;
    grid-template-columns: 2fr 1fr;
}

.map {
    grid-area: 1/1/2/3;
    height: 350px;
    background-image: url("/images/map-overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    z-index: 1;
    filter:saturate(150%);
}

.general-info{
    grid-area: 2/1/3/3;

}

.general-info div{

}

.charts-container{
    grid-area: 3/1/3/2;
}
.stats-container {
    grid-area: 3/2/3/3;
}


@media (min-width: 768px)
{
    .map
    {
        grid-area: 1/2/2/3;
        height: 60vh;
        border-radius: 20px;
        margin: 10px;
    }
}